@import "tailwindcss";



@theme {
  --color-primary: #003D9B;
  --color-primary-gradient: linear-gradient(90deg, #003D9B 0%, #00A3FF 100%);
  --color-primary-container: #0052CC;
  --color-surface-highest: #D7E2FF;
  --color-surface-medium: #737685;
  --color-surface-low: #f1f3ff;
  --color-white-bg: #F9F9FF;
  --font-inter: "Inter", sans-serif;
}



